node_modules/**/*
/server/node_modules/**/*
/client/node_modules/**/*
/client/.expo/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

package-lock.json
secret.js

# macOS
.DS_Store
